@import "_base.css";

.header-menu {
    height: 60px;
    background-color: var(--color-Black);
    padding: 10px 0;
}

.header-menu_logo {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.header-menu_logo img {
    width: 156px;
    max-height: 37px;
}

.menu-icon {
    font-size: 1.9rem;
    color: var(--color-White);
    line-height: 50px;
    position: absolute;
    top: 20px;
    right: 10px;
}

nav {
    position: absolute;
    background-color: var(--color-Black);
    top: 60px;
    left: 0;
    width: 100%;
}

nav ul {
    list-style-type: none;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.2s;
}

nav ul li {
    padding: 0px 25px;
}

nav ul li a {
    display: inline-block;
    color: var(--color-White);
    text-decoration: none;
    font-size: 1.3rem;
    line-height: 45px;
    font-family: var(--font-DM-Sans-Bold);
    letter-spacing: 0.05em;
}

nav ul li a:hover, nav ul li a:focus {
    color: var(--color-White);
}

#checkbox {
    display: none;
}

#checkbox:checked ~ nav ul {
    max-height: 375px;
    padding: 7px 0;
    transition: all 0.2s;
}

@media (min-width: 1024px) {
    .menu-icon {
        display: none;
    }

    nav {
        position: relative;
        top: -10px;
        background-color: transparent;
    }

    nav ul {
        max-height: 70px;
        padding: 15px 0;
        text-align: right;
    }

    nav ul li {
        display: inline-flex;
        padding-left: 20px;
    }

}
@media (min-width: 768px){


}




